html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

img {
    width: 100%;
    max-height: -webkit-fill-available;
}

.container {
    display: flex;
    margin-top: 80px;
    justify-content: center;
}

.image-container {
    display: flex;
    width: 300px;
    height: 415px;
    justify-content: center;
}

.dot {
    height: 50px;
    width: 50px;
    background-color: lightcyan;
    border-radius: 50%;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    padding-top: 12px;
}
