.content {
    margin: 50px 100px 0 100px;
}

.main-form {
    display:flex;
    justify-content: center;
}

.main-display {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

.select-image {
    display:flex;
    justify-content: center;
}

.dot {
    height: 50px;
    width: 50px;
    background-color: lightcyan;
    border-radius: 50%;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    padding-top: 12px;
}